@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.mt-20 {
  margin-top: 20px;
}

.home__container {
  padding: 20px;
}
.heading {
  font-size: 32px;
  line-height: 49px;
  color: #000000;
  font-weight: 600;
}
.filter_img {
  width: 53px;
  height: 53px;
}
input {
  outline: none;
  border: none;
}
input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #00000099;
  line-height: 19px;
}
.search__input {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 50px;
  width: 279px;
  border-radius: 10px;
}
.search__container {
  position: relative;
}
.search__container img {
  position: absolute;
  top: 13px;
  padding-right: 10px;
  left: 15px;
}
.category__container {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  overflow: hidden;
}
.category__container button {
  padding: 7px 28px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.active__category {
  background-color: #000000;
  color: #fff !important;
}
.product__container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 0 10px 10px 10px;
  flex: 0 50%;
  position: relative;
}
.card img {
  border-radius: 10px;
  width: 100%;
}
.card .product__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 10px;
}
.card .product__price {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 7px;
}
.wishlist__icon {
  width: 37px !important;
  height: 34px;
  position: absolute;
  top: 1rem;
  box-shadow: rgba(82, 82, 82, 0.25);
  right: 17px;
}
.navbar__container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: -6px;
}
.bottom__sec {
  position: fixed;
  padding: 17px;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
}
.price__text{
font-size: 16px;
line-height: 21px;
color: rgba(0, 0, 0, 0.6)
}
.price__value{
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.detail__container{
  position: relative;
}
